
<body>

  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar-->
  <!---- ======= Layout ========== -->
  <!-- <app-layout></app-layout> -->
  <router-outlet></router-outlet>
  <!-- End Layout -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End Footer -->

<!-- Example of a back-to-top button with Bootstrap classes -->
<a href="#" class="btn btn-primary back-to-top d-flex align-items-center justify-content-center"
   *ngIf="showBackToTop" (click)="scrollToTop()" aria-label="Retour en haut">
   <i class="bi bi-arrow-up-short"></i>
</a>



  <!-- Vendor JS Files -->


</body>
