#custom-icon {
  background-color: transparent; /* Remove any background */
  border: none; /* Remove border */
  font-size: 250%; /* Adjust the size of the icon */
  margin-left: 3px;
  color: black; /* Change the icon color */

}

/* Centrer les contrôles de pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Utilisez 100% si vous voulez que cela prenne toute la largeur */
  height: 50px; /* Ajustez la hauteur si nécessaire */
  padding: 10px 0; /* Ajoutez du padding pour mieux positionner les contrôles */
}

.row {
  width: fit-content; /* Permet le défilement horizontal si le tableau est trop large */
}


table {
  width: 100%;
  table-layout: relative; /* Cela force le tableau à respecter les largeurs de colonne spécifiées */
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Spécifiez la largeur des colonnes pour les actions et les longs textes */
th.col-action, td.col-action {
  width: 200px; /* Ajustez selon la taille réelle des boutons */
}

th.col-text, td.col-text {
  width: auto; /* Prendra le reste de la largeur disponible */
}

.btn {
  margin: 2px;
}

/* Assurez-vous que les boutons sont toujours visibles */
.btn-group {
  white-space: nowrap; /* Empêche les boutons de passer à la ligne suivante */
}


