<body>
    <section className="nav">
        <nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/acceuil" routerLinkActive="active" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="margin-right: 4rem;">
                    <a routerLink="/acceuil/login" routerLinkActive="active" class="nav-link">Login
                    </a>
                </li>
            </ul>
        </nav>
    </section>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../assets/noBgLogin.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-dark btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-dark btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-dark btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">OR</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="username" ngModel name="username"
                            class="form-control form-control-lg" placeholder="Enter a valid username" />
                        <label class="form-label" for="username">&nbsp;&nbsp;&nbsp;Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password" ngModel name="password"
                            class="form-control form-control-lg" placeholder="Enter password" />
                        <label class="form-label" for="password">&nbsp;&nbsp;&nbsp;Password</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="javascript:void(0)" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-dark btn-lg" value="Login"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="javascript:void(0)"
                                class="link-danger">Register</a></p> -->
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
<footer class="footer">
    <div class="container">
        <span>© 2024 DIGID. All rights reserved.</span>
    </div>
</footer>