<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img [src]="imageUrl" alt="Profile" class="rounded-circle">
            <h2>{{ oneRes?.firstname }} {{ oneRes?.lastname }}</h2>
            <h3>{{ oneRes?.post }}</h3>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->

            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">


                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.firstname }} {{ oneRes?.lastname }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.email}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Job</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.job }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.address }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Department</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.department }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.phone }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Identity Card</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.id_card }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Salary</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.salary}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Date of Birth</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.date_birth}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Hiring date</div>
                  <div class="col-lg-9 col-md-8">{{ oneRes?.hire_date}}</div>
                </div>



              </div>




</div>

</div>
</div>
      </div>
    </div>
</section>


</main>
