#custom-icon {
  background-color: transparent; /* Remove any background */
  border: none; /* Remove border */
  font-size: 250%; /* Adjust the size of the icon */
  margin-left: 3px;
  color: black; /* Change the icon color */

}

/* Centrer les contrôles de pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Utilisez 100% si vous voulez que cela prenne toute la largeur */
  height: 50px; /* Ajustez la hauteur si nécessaire */
  padding: 10px 0; /* Ajoutez du padding pour mieux positionner les contrôles */
}

.row {
  width: fit-content; /* Permet le défilement horizontal si le tableau est trop large */
}


table {
  width: 100%;
  table-layout: relative; /* Cela force le tableau à respecter les largeurs de colonne spécifiées */
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Spécifiez la largeur des colonnes pour les actions et les longs textes */
th.col-action, td.col-action {
  width: 200px; /* Ajustez selon la taille réelle des boutons */
}

th.col-text, td.col-text {
  width: auto; /* Prendra le reste de la largeur disponible */
}

.btn {
  margin: 2px;
}

/* Assurez-vous que les boutons sont toujours visibles */
.btn-group {
  white-space: nowrap; /* Empêche les boutons de passer à la ligne suivante */
}


input[type="search"]::-ms-clear {
  display: none;
}

/* Remove the clear button in Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Safari: Remove the inner and outer clear buttons */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.hide {
  display: none;
}


.search-bar input.form-control {
  padding-left: 30px;  /* Adjust this based on the size of your search icon */
  padding-right: 30px; /* Adjust this based on the size of your clear icon */
}
#searchInput{
  border-width: 2px; /* Adjust as needed for thickness */
  border-style: solid; /* Ensuring the border style is solid */
  border-color: #808080; /* You can customize the color as needed */
}
input.form-control {
  /* Adding a box shadow */
  box-shadow: 0 2px 5px #C0C0C0; /* Adjust the rgba values based on your color preference */

  /* Optional: on focus to change the shadow as well */
  transition: box-shadow 0.3s ease-in-out;
}

input.form-control:focus {
  /* Enhanced shadow on focus, if needed */
  box-shadow: 0 4px 8px #C0C0C0; /* Stronger shadow on focus */
}

.custom-search-input {
  height: 48px;

}