.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #f8f9fa; */
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .main-content {
    margin-bottom: 80px; /* Adjust according to the height of the footer */
  }
  